$font-family-base: "DM Sans", sans-serif;

$dark: #212121;
$primary: #ffbe1a;
$secondary: #212121;
$danger: #f87171;
$success: #51a800;
$warning: #ffbe1a;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
