$font-family-base: "DM Sans", sans-serif;

$dark: #212121;
$primary: #11615c;
$secondary: #14e5c5;
$danger: #dc2626;
$success: #11615c;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.custom-container {
  padding-bottom: 3rem;
  padding-top: 5rem;
}

@include media-breakpoint-up(md) {
  .custom-container {
    padding-bottom: 0rem;
    padding-top: 7rem;
  }
}
