$font-family-base: "DM Sans", sans-serif;

$dark: #212121;
$primary: #0f256e;
$secondary: #00cc83;
$danger: #f87171;
$success: #00cc83;
$warning: #ffbe1a;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.custom-container {
  padding-bottom: 3rem;
  padding-top: 5rem;
}

@include media-breakpoint-up(md) {
  .custom-container {
    padding-bottom: 0rem;
    padding-top: 7rem;
  }
}
